{namespace c=Pixelant\PxaCitrixIntegration\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
    <h1>{webinar.subject -> f:format.raw()}</h1>

    <f:flashMessages />

    <div class="tx-pxa-citrix-integration__webinar-detail">
        <f:render partial="Webinar/Info" arguments="{webinar: webinar}" />

        <h3><f:translate key="registration" /></h3>

        <div class="tx-pxa-citrix-integration__webinar-registration">
            <f:if condition="{registrant}">
                <f:then>
                    <f:render section="cancelRegistrationForm" arguments="{_all}" />
                </f:then>
                <f:else>
                    <f:render section="registrationForm" arguments="{_all}" />
                </f:else>
            </f:if>
        </div>
    </div>
</f:section>

<f:section name="cancelRegistrationForm">
    <p><f:translate key="registration_registered_text" /></p>
    <h4><f:translate key="registration_details" /></h4>
    <strong><f:translate key="registration_date" />: </strong><c:format.date date="{registrant.registrationDate}" timeZone="{registrant.timeZone}" format="{f:translate(key: 'date_format')}" /><br>
    <strong><f:translate key="join_url" />: <a class="tx-pxa-citrix-integration__join-url" href="{registrant.joinUrl}" target="_blank"></strong>{registrant.joinUrl}</a>
    <strong><f:translate key="status" />: </strong><f:translate key="status.{registrant.status}" />
    <hr>
    <f:form method="post" action="cancelRegistration">
        <f:form.hidden name="webinarKey" value="{webinar.webinarKey}" />
        <f:form.submit class="btn btn-default" value="{f:translate(key: 'registration_cancel')}" />
    </f:form>

</f:section>

<f:section name="registrationForm">
    <f:form method="post" action="register">
        <f:form.hidden name="webinarKey" value="{webinar.webinarKey}" />
        <div class="tx-pxa-citrix-integration__webinar-registration-required-fields-info">
            *<f:translate key="required_field" />
        </div>
        <br>
        <f:for each="{registrationFields.fields}" as="field">
            <div class="form-group">
                <label for="tx-pxa-citrix-integration__webinar-field-{field.field}">
                    <f:translate key="registration_field.{field.field}" /><span class="tx-pxa-citrix-integration__webinar-registration-required-field">{f:if(condition: field.required, then: '*')}</span>
                </label>
                <div>
                    <f:form.textfield readonly="{f:if(condition: field.locked, then: 'readonly')}" name="registrationFields[{field.field}]" id="tx-pxa-citrix-integration__webinar-field-{field.field}" value="{field.value}" class="form-control" />
                </div>
            </div>
        </f:for>

        <hr>

        <f:if condition="{registrationFields.questions}">
            <p><f:translate key="registration_survey_text" /></p>

            <f:for each="{registrationFields.questions}" as="question">
                <f:form.hidden name="registrationFields[responses][{question.questionKey}][questionKey]" value="{question.questionKey}" />

                <div class="form-group">
                    <label for="tx-pxa-citrix-integration__webinar-field-{question.questionKey}">
                        {question.question}<span class="tx-pxa-citrix-integration__webinar-registration-required-field">{f:if(condition: question.required, then: '*')}</span>
                    </label>
                    <div>
                        <f:switch expression="{question.type}">
                            <f:case value="shortAnswer">
                                <f:form.textfield name="registrationFields[responses][{question.questionKey}][responseText]" id="tx-pxa-citrix-integration__webinar-field-{question.questionKey}" class="form-control" />
                            </f:case>
                            <f:case value="multipleChoice">
                                <f:if condition="{question.answers">
                                    <select name="tx_pxacitrixintegration_webinar[registrationFields][responses][{question.questionKey}][answerKey]" id="tx-pxa-citrix-integration__webinar-field-{question.questionKey}" class="form-control">
                                        <option><f:translate key="select_first_empty_option" /></option>
                                        <f:for each="{question.answers}" as="answer">
                                            <option value="{answer.answerKey}">{answer.answer}</option>
                                        </f:for>
                                    </select>
                                </f:if>
                            </f:case>
                            <f:case default="true">Unknown question type: {question.type}</f:case>
                        </f:switch>
                    </div>
                </div>
            </f:for>

            <hr>
        </f:if>
        <div class="form-group">
            <p><f:translate key="registration_submit_text" /></p>
            <f:form.submit class="btn btn-default" value="{f:translate(key: 'register')}" />
        </div>
    </f:form>
</f:section>
