<f:layout name="Default" />

<f:section name="main">
<f:flashMessages />
<div class="tx-pxa-citrix-integration__webinar-list">
    <f:if condition="{webinars}">
        <f:then>
            <f:for each="{webinars}" as="webinar">
                <div class="tx-pxa-citrix-integration__webinar-list-item">
                    <h3>{webinar.subject -> f:format.raw()}</h3>
                    <f:render partial="Webinar/Info" arguments="{webinar: webinar}" />
                </div>
            </f:for>
        </f:then>
        <f:else>
            <p><f:translate key="webinars.not_found" /></p>
        </f:else>
    </f:if>
</div>
</f:section>
