{namespace c=Pixelant\PxaCitrixIntegration\ViewHelpers}
<div class="tx-pxa-citrix-integration__webinar-info">
    <f:translate key="start_time" />: <c:format.date timeZone="{webinar.timeZone}" date="{webinar.times.0.startTime}" format="{f:translate(key: 'date_format')}" /><br>
    <f:translate key="end_time" />: <c:format.date timeZone="{webinar.timeZone}" date="{webinar.times.0.endTime}" format="{f:translate(key: 'date_format')}" /><br>
    <div class="tx-pxa-citrix-integration__webinar-description">
        <p>{webinar.description -> f:format.raw()}</p>
    </div>
</div>
