<div class="tx-pxa-citrix-integration__webinar-list">
    <f:if condition="{webinars}">
        <f:then>
            <f:for each="{webinars}" as="webinar">
                <div class="tx-pxa-citrix-integration__webinar-list-item">
                    <h3><f:link.action pageUid="{settings.detailPid}" arguments="{webinarKey: webinar.webinarKey}">{webinar.subject -> f:format.raw()}</f:link.action></h3>
                    <f:render partial="Webinar/Info" arguments="{webinar: webinar}" />
                    <f:link.action class="btn btn-default" pageUid="{settings.detailPid}" arguments="{webinarKey: webinar.webinarKey}"><f:translate key="read_more" /></f:link.action>
                </div>
            </f:for>
        </f:then>
        <f:else>
            <p><f:translate key="webinars.not_found" /></p>
        </f:else>
    </f:if>
</div>
